* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    height: 1000px;
}

#home {
    background: url('/assets/images/kells_bay1.jpg') no-repeat left center;
    background-size: cover;
    height: 400px;
}
