@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400;600&display=swap');

:root {
    --dark-blue: #0779E4;
    --light-yellow: #f6f8e0;
    --light-aqua: #56d8d8;
    --aquamarine: #0a6a68;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--light-yellow);
    font-size: 1.6rem;
}

h1 {
    color: var(--light-yellow);
}

h3 {
    padding-top: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 120%;
}

.yellow-section {
    color: var(--dark-blue);
    background-color: var(--light-yellow);
}

.blue-section {
    color: var(--light-yellow);
    background-color: var(--dark-blue);
}

#menu-bar a:hover, h2:hover, h3 {
    text-decoration: solid underline;
}

h1, h2, #menu-bar {
    letter-spacing: 2px;
}

p {
    text-align: justify;
}

#section-heading {
    text-align: center; /* left for tablet +*/
    /* margin-left: 30px; for tablet +*/
    margin: 10px auto;
    font-size: 180%;
    display: block;
    clear: both;
    padding: 20px 0;
}

.center-text {
    text-align: center;
}

.center-element {
    margin: 0 auto;
}

.page-section {
    min-height: 400px;
}

section {
    overflow: hidden;
}

/* heading section */
#home {
    background: url('https://grawnya.github.io/south-kerry-greenway/assets/images/kells_bay1.jpg') no-repeat left center;
    background-size: cover;
    height: 400px;
}

#page-title {
    font-size: 230%;
}

#menu-bar {
    font-size: 150%;
    overflow: hidden;
}

#menu-bar li {
    list-style: none;
    display: inline-block;
    width: 45%; /* Make 30 for tablet and 100% for larger than tablet */
    margin: 0 auto;
    text-align: center;
}

#menu-bar a {
    color: var(--light-yellow);
    font-weight: bold;
}

#page-title, #menu-bar {
    line-height: 60px;
}

/* About section */
#about p {
    margin: 15%;
}

/* Route section*/
#route {
    max-height: 100px;
}

/* Route-Image section */
#route-image {
    background-image: url("https://grawnya.github.io/south-kerry-greenway/assets/images/south-kerry-greenway-route-small-screen.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    width: 100%;
    overflow: hidden;
    /* min-height: 400px; */
    padding-top: 56.9%; 
    /* (img-height / img-width * container-width) */
    /* (752 / 1322 * 100) */
}

/* Locations section */
.location-image { /* make location-image padding and p tag padding inside the location section smaller for larger screens */
    width: 300px;
    height: 200px;
    display: block;
}

.location-image:hover {
    box-shadow: 10px 5px 5px gray;
}

#location p {
    margin: 1% 15% 5%;
}

/* Events Section */
#events {
    padding-bottom: 10px;
}

#events div {
    color: var(--light-yellow);
    background-color: var(--aquamarine);
    clear: both;
    height: 200px;
    vertical-align: middle;
    text-align: center;
    border: 1rem solid var(--dark-blue);
    width: 100%;
    box-sizing: border-box;
    transition-delay: 0.4s;
}

#events div:hover {
    font-size: 110%;
}

/* Contact Section */
#contact p {
    margin: 1% 15% 3%;
}

fieldset input, fieldset label, fieldset textarea {
    margin-left: 15%;
    font-size: large;
}

fieldset label {
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}

input[type=text],
input[type=email],
textarea {
    width: 70%;
    border: 2px solid var(--dark-blue);
    border-radius: 10px;
    padding-left: 10px;
}

input[type=text],
input[type=email] {
    height: 30px;   
}

textarea {
    height: 300px;
    padding-top: 10px;
}

.submit-button {
    background-color: var(--dark-blue);
    border: none;
    color: var(--light-yellow);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 5%;
    transition-duration: 0.4s;
    font-weight: bold;
}

.submit-button:hover {
    border: 4px solid var(--dark-blue);
    color: var(--dark-blue);
    background-color: var(--light-yellow);
    font-size: 130%;
}

/* footer section */

footer {
    overflow: hidden;
    padding-bottom: 20px;
}

.socials li {
    display: inline;
}

.socials i {
    color: var(--light-yellow);
    font-size: 250%;
    width: 23.5%;
    text-align: center;
    padding: 20px 0;
}

.section-links li {
    text-align: center;
    list-style: none;
}

.section-links a {
    color: var(--light-yellow);
    font-size: 130%;
    font-weight: bold;
    padding: 5px 0;
}

.section-links a:hover {
    text-decoration: solid underline;
}

@media screen and (min-width:768px) {
    /* nav bar menu items */
    #menu-bar li {
        width: 32%;
    }
}