@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
}

body {
    background-color: #f6f8e0;
}

h1 {
    color: #f6f8e0;
}

h2 {
    color: #0779E4;
}

h2:hover {
    border-bottom: 3px solid currentColor;
}

h1, h2, #menu-bar {
    letter-spacing: 2px;
}

/* heading section */
#home {
    background: url('/assets/images/kells_bay1.jpg') no-repeat left center;
    background-size: cover;
    height: 500px;
}

#page-title {
    margin-left: 30px;
    font-size: 300%;
    /* letter-spacing: 2px; */
    display: inline-block;
}

#menu-bar {
    font-size: 130%;
    /* letter-spacing: 2px; */
    float: right;
}

#menu-bar li {
    float: left;
    list-style: none;
    margin-right: 30px;
}

#menu-bar a {
    color: #f6f8e0;
    font-weight: bold;
}

#menu-bar a:hover {
    color: #0779E4;
}

#page-title, #menu-bar {
    line-height: 70px;
}

/* Locations sections */
#locations {
    height: 500px;
}

#locations-heading {
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 200%;
    display: inline-block;
    clear: both;
}